#collapsable-button {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 8px 12px;
    width: 150px; 
    border: none;
    text-align: center;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease; 
}

#collapsable-button:hover {
    background-color: #555; 
}

#collapsable-button:active {
    background-color: #333; 
}